#top{
    width: 100vw;
    height: 8vh;
    background-color: $blanc;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;

    @media screen and(max-width: 1580px){
        height: 16vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        ul{
            width: 100%;
        }
    }

    li{
        display: flex;
        height: 90%;
        align-items: center;
        :hover{
            transition: ease 0.3s;
            background: $bleu;
            color: $blanc;
            border-radius: 5px;
        }
    }
    a{
        display: flex;
        align-items: center;
        margin: auto 15px;
        color: $bleu;
        height: 70%;
        padding: 0 2vw;
    }
    ul{
        
        //position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: auto;
        text-align: center;

        top: 0;
    
        height: 8vh;
        width: 100%;
        list-style-type: none;
    }
}
#logo{
    margin: 0;
    padding: 0;

    margin-left: 50vw;
    
    @media  screen and(max-width: 1580px) {
        display: block;
        
        position: relative;
        left: auto;
        margin: auto;
        margin-left: calc(50vw - 69.5px);
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}